* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #cdd4db;
}
header {
  height: 100px;
  width: 100%;
}
.content {
  text-align: center;
  color: #07576d;
  height: 100vh;
}

.content a {
  color: #046063;
}

.content a:hover {
  color: #08b0bb;
  text-decoration: none;
  font-weight: bold;
}

input,
button {
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

button {
  background-color: #014b60;
  color: #f6f7f9;
}

.container {
  width: 75vw;
}
